* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner-left-part {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.banner-btn {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
.banner-home-container {
  background-color: #ffffff;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
  }

  .banner-left-part {
    flex-direction: column;
    align-items: center;
  }

  .banner-btn {
    margin-top: 10px;
    font-size: 14px;
    padding: 6px 12px;
  }

  .banner-right-part {
    justify-content: center;
    margin-top: 10px;
  }

  .trending-now-heading,
  .originals-heading {
    font-size: 18px;
    padding-left: 16px;
  }
}
